.card {
  margin-left: 3;
  margin-right: 3;
  background-color: #f0f0f0;
  padding: 10;
  border-radius: 5%;
  margin-bottom: 10;
  box-shadow: 3px 3px 4px grey;
}

.posts-container {
  background-color: white;
  height: 100%;
  border-width: 0, 0, 0, 0;
  border-color: rgb(184, 184, 184);
  color: black;
}

.featured-announcement {
  border-color: rgba(191, 191, 191, 0.758);
  border-width: 0, 0.7, 1, 0;
  background-color: #f0f0f0;
  padding: 10;
  border-radius: 5%;
}

.contentContainer {
  background-color: white;
  padding: 10, 15, 15, 15;
  border-radius: 10%;
  border-color: rgb(184, 184, 184);
}

.contentContainerNoBottom {
  margin-top: 10;
  background-color: white;
  padding: 10, 15, 0, 15;
  border-radius: 10%, 10%, 0, 0;
  border-color: rgb(184, 184, 184);
}

.postHeader {
  font-size: 15;
  font-weight: bold;
}

.postMiniHeader {
  font-size: 10;
  color: grey;
}

.postBody {
  margin: 10, 0, 10, 0;
}
