.announcement-card {
  background-color: #d9d9d9;
  margin: 30 20 0 20;
  border-radius: 10%;
  height: 350px;
  border-color: black;
  border-width: 2px;
}

.card-content {
    margin: 10px;
}

.description {
    font-size: 18px;
    font-weight: bold;
}

