.card {
  margin-left: 3;
  margin-right: 3;
  background-color: #f0f0f0;
  padding: 10;
  border-radius: 5%;
  margin-bottom: 10;
  box-shadow: 3px 3px 4px grey;
}

.postHeader {
  font-size: 15;
  font-weight: bold;
}

.postMiniHeader {
  font-size: 10;
  color: grey;
}

.postBody {
  margin: 10, 0, 10, 0;
}

.announcements-container {
  padding: 10;
}
