.lobangInfoContainer {
  background-color: rgb(52, 52, 52);
  height: 100%;
  width: 95%;
  border-radius: 10%;
  color: white;
  margin: 10;
  box-shadow: 3px 3px 6px rgb(82, 82, 82);
}

.small {
  width: 70;
}

.lobangPic {
  height: 100%;
  width: 95%;
  border-radius: 25%, 25%, 0, 0;
}

.lobangTabContainer {
  background-color: white;
  height: 100%;
  width: 95%;
  border-radius: 25%, 25%, 0, 0;
  border-width: 0, 0, 0, 0;
  border-color: rgb(184, 184, 184);
  color: black;
}

.profileInfoContainer {
  padding: 20%;
}

.profilePicContainer {
  background-color: rgb(52, 52, 52);
  border-radius: 50%;
  height: 50;
  width: 50;
  border-color: rgb(26, 26, 26);
}

.profilePic {
  border-radius: 50%;
  height: 50;
  width: 50;
}

.iconPic {
  height: 50;
  width: 50;
}

.h2-large {
  font-size: 17%;
  font-weight: bold;
  margin: 2%;
}

.tabHeaderSelected {
  border-radius: 25%, 25%, 0, 0;
  border-width: 0, 0, 2, 0;
  border-color: black;
}

.tabHeaderUnselected {
  border-radius: 25%, 25%, 0, 0;
  border-color: grey;
  opacity: 0.2;
}

.infoContainer {
  margin: 10, 20, 0, 20;
}

.collectionPointContainer {
  padding: 20%;
}

.collectionDatetimeContainer {
  padding: 20%;
}

.announcementProfilePicContainer {
  background-color: rgb(52, 52, 52);
  border-radius: 50%;
  height: 35;
  width: 35;
  border-color: rgb(26, 26, 26);
}

.announcementProfilePic {
  border-radius: 50%;
  height: 35;
  width: 35;
}

.announcementPicContainer {
  margin: 20, 0, 10, 0;
}

.announcementPic {
  border-radius: 10%;
}

.productPanel {
  color: black;
  margin: 5;
  background-color: rgb(217, 212, 212);
  border-radius: 10%;
}

.descriptionContainer {
  padding: 20%;
}

.orderPanel {
  color: black;
  margin: 5;
  background-color: rgb(217, 212, 212);
  border-radius: 10%;
}

.orderContainer {
  margin: 5;
  background-color: rgb(217, 212, 212);
  border-radius: 10%;
  padding: 10%;
}

.joinButton {
  margin: 5;
  font-weight: bold;
  border-radius: 10%;
  height: 30;
  width: 100;
  background: rgb(165, 196, 242);
  color: black;
  box-shadow: 3px 3px 6px;
}

.leaveButton {
  margin: 5;
  font-weight: bold;
  outline-width: 0.5;
  border-color: white;
  border-radius: 10%;
  border-width: 1;
  height: 30;
  width: 100;
  background-color: transparent;
  color: white;
}

.editButton {
  opacity: 0.5;
  font-weight: bold;
  height: 30;
  width: 100;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.postHeader {
  font-size: 15;
  font-weight: bold;
}

.postMiniHeader {
  font-size: 10;
  color: grey;
}

.postBody {
  margin: 10, 0, 10, 0;
}
