.topBar {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(52, 52, 52);
}

.banner-image {
  height: 160;
  opacity: 0.4;
}

.back-icon {
  height: 100px;
  width: 100px;
}

.banner-name {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 100px;
}

.back-to-community {
  margin-top: 40px;
}

.featured-text {
  margin: 50px;
}

.textbox {
  border-width: 2rem;
  background-color: white;
  margin: 5;
}

.image-url {
  border-width: 2rem;
  background-color: white;
  margin: 5;
}

Button {
  width: 20%;
  height: 100px;
  margin: 10 10 10 335;
}
