Page {
  color: black;
}

Button.-primary {
  font-size: 18;
  color: black;
  border-radius: 10%;
  height: 35;
  margin: 5;
  padding: 0, 10, 0, 10;
  font-size: 15%;
  font-weight: bold;
  background: rgb(165, 196, 242);
}

Button.-secondary {
  font-size: 18;
  color: black;
  border-radius: 10%;
  height: 35;
  margin: 5;
  padding: 0, 10, 0, 10;
  font-size: 15%;
  font-weight: bold;
  background: rgb(201, 201, 201);
}

.gradientBg {
  background: linear-gradient(
    30deg,
    rgb(186, 221, 255) 50%,
    rgb(119, 149, 224) 100%
  );
}

.h1 {
  font-size: 25;
  font-weight: bold;
  margin: 2;
}

.h2 {
  font-size: 15;
  font-weight: bold;
  margin: 2;
}

.hyperlink {
  text-decoration: underline;
}

.fineprint {
  font-size: 11;
  color: rgb(55, 55, 55);
}

.centered {
  text-align: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.topBar {
  padding: 15%, 0%, 15%, 0%;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.modalHeader {
  padding: 10%;
  font-size: 15%;
  font-weight: bold;
  background: linear-gradient(
    0deg,
    rgb(169, 188, 238) 40%,
    rgb(119, 149, 224) 100%
  );
}

.card {
  margin-left: 3;
  margin-right: 3;
  background-color: #f0f0f0;
  padding: 10;
  border-radius: 5%;
  margin-bottom: 10;
  box-shadow: 3px 3px 4px grey;
}
