.searchbar {
  background-color: white;
  margin: 10;
  border-radius: 10%;
}

.community {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10;
  padding: 0;
  border-radius: 10%;
  margin: 6;
}

.blocking {
  height: 250px;
  margin-bottom: 10;
  padding: 0;
  border-radius: 10%;
  margin: 6;
  background-color: black;
  opacity: 0.4;
}

.blockTopText {
  height: 250px;
}

.community-img {
  height: 120;
  opacity: 0.5;
}

.community-name {
  font-size: 30px;
}

.searchIcon {
  height: 20;
  opacity: 0.6;
  margin: 0, 5, 0, 10;
}
