<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162277508732-5i0kgqub90l54141ntjti070om5qjjnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162277508732-5i0kgqub90l54141ntjti070om5qjjnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAKvxdVmiRbt_C2po4NdgbkRt5Nfenj32k</string>
	<key>GCM_SENDER_ID</key>
	<string>162277508732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.lobangking</string>
	<key>PROJECT_ID</key>
	<string>lobangking-bf365</string>
	<key>STORAGE_BUCKET</key>
	<string>lobangking-bf365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162277508732:ios:0c93e87bf926f2587fabf9</string>
</dict>
</plist>