.categoriesContainer {
  background-color: white;
  border-radius: 25%;
  border-width: 0, 1.2, 1.5, 0;
  border-color: rgb(184, 184, 184);
  margin-top: 10;
  padding: 10, 15, 5, 15;
}

.popularGroupbuysContainer {
  background-color: white;
  border-radius: 25%;
  border-width: 0, 1.2, 1.5, 0;
  border-color: rgb(184, 184, 184);
  padding: 10, 15, 5, 15;
}

.trendingCommunitiesContainer {
  background-color: white;
  border-radius: 25%, 25%, 0, 0;
  border-width: 0, 1.2, 0, 0;
  border-color: rgb(184, 184, 184);
  padding: 10, 15, 0, 15;
}

.searchResultsContainer {
  background-color: white;
  border-radius: 25%;
  border-width: 0, 1.2, 1.5, 0;
  border-color: rgb(184, 184, 184);
  padding: 10, 15, 10, 15;
}

.containerHeaders {
  font-size: 20px;
  font-weight: bold;
  margin: 25px;
}

.headers {
  font-size: 18px;
  font-weight: bold;
  margin: 25px;
}

.categoryImage {
  background-color: rgb(58, 58, 58);
  border-radius: 50%;
  background-size: 150px 150px;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 1;
  border-color: black;
}

.topRowContainer {
  background-color: white;
}

.lobangPanel {
  color: white;
  border-width: 0, 0.5, 0.5, 0;
  margin-right: 5;
  background-color: rgb(52, 52, 52);
  border-radius: 10%;
  width: 250;
  height: 145;
}

.searchLobangPanel {
  color: white;
  border-width: 0, 0.5, 0.5, 0;
  margin: 5;
  background-color: rgb(52, 52, 52);
  border-radius: 10%;
}

.communityPanel {
  color: white;
  border-width: 0, 0.5, 0.5, 0;
  margin-right: 5;
  background-color: rgb(52, 52, 52);
  border-radius: 10%;
  width: 150;
  height: 200;
}

.searchCommunityPanel {
  color: white;
  border-width: 0, 0.5, 0.5, 0;
  margin: 5;
  background-color: rgb(52, 52, 52);
  border-radius: 10%;
  height: 100;
}

.searchbar {
  background-color: white;
  border-radius: 10%;
}

.searchbarOpen {
  background-color: white;
  border-radius: 10%, 10%, 0, 0;
}

.searchIcon {
  height: 20;
  opacity: 0.6;
  margin: 0, 5, 0, 10;
}

.filterIcon {
  height: 22;
  opacity: 1;
  margin: 0, 10, 0, 0;
}

.closeIcon {
  height: 17;
  opacity: 1;
  margin: 0, 10, 0, 0;
}

.filterContainer {
  background-color: white;
  border-radius: 0, 0, 10%, 10%;
}

.filterChipPicked {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-color: rgba(0, 0, 0, 0.434);
  background: rgb(153, 177, 239);
  padding: 2;
  border-radius: 10;
  height: 30;
  width: 120;
  box-shadow: 3px 3px 3px grey;
}

.filterChipUnpicked {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-width: 1;
  border-color: rgba(0, 0, 0, 0.434);
  background: transparent;
  padding: 2;
  border-radius: 10;
  height: 30;
  width: 120;
  box-shadow: 1px 1px 2px grey;
}
